<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
			<div ui-view="referentiels-liste"></div>
		</div>

		<div class="col-md-2">
			<div ui-view="referentiels-details"></div>
		</div>

		<div class="col-md-7">
	    <div ui-view="message-composition"></div>
		</div>

		<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">
		   	 <h3 class="panel-title">Historique</h3>
		   	 <ul>
		   	 	<li ng-repeat="histoItem in historique">{{histoItem.libelle}}</li>
		   	 </ul>
		 	 </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-7">
			<div class="panel panel-default">
	      <div class="panel-heading">
	        <h3 class="panel-title">Résultat</h3>
	      </div>
	      <div class="panel-body">
					<ul>
	        	<li ng-repeat="ecriture in ecrituresGenerees">
	        		{{ecriture}}
	        	</li>
	        </ul>

					{{msgsRest}}

	      </div>
	    </div>
	  </div>

	  <div class="col-md-offset-3 col-md-7">
			<div class="panel panel-default">
	      <div class="panel-heading">
	        <h3 class="panel-title">Debug</h3>
	      </div>
	      <div class="panel-body">
					<ul>
	        	<li>typeEvenementSelectionne : {{typeEvenementSelectionne}}</li>
	        	<li>ligneBudgetaire : {{ligneBudgetaireSelectionnee}}</li>
	        	<li>axe : {{axeSelectionne}}</li>
	        	<li>operation : {{operationSelectionnee}}</li>
	        	<li>type nature : {{typeNatureSelectionne}}</li>
	        </ul>   
	      </div>
	    </div>
	  </div>

	</div>
</div>

