<div class="list-group">
  <h4 class="list-group-item-heading text-center">Organigramme budgétaire</h4>
  <div class="list-group">
    <div class="well">
      <input ng-model="searchOrgan" type="text" class="form-control" placeholder="Filtrer">
    </div>
		<a href="" ng-repeat="ligneBudgetaire in lignesBudgetairesDispos | filter: searchOrgan" class="list-group-item" ng-click="selectionnerImputation('organ', ligneBudgetaire)">
      <i class="fa fa-link pull-right"></i>
      {{ligneBudgetaire.libelle}}
    </a>
  </div>
</div>
