<div class="panel panel-info">
    <div class="panel-heading clearfix">
      <h3 class="panel-title  pull-left" style="padding-top: 8px;">Composer un objet de gestion</h3>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="ajouterNouvelleLigne(message)"><span class="glyphicon glyphicon-plus-sign"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button>
      </div>
  	</div>

    <div class="panel-body">
			<form role="form">
				<div class="form-group">
					<ul class="nav nav-pills">
					  <li class="active"><a href="#">Saisir budget</a></li>
					  <li class=""><a href="#">Ventiler</a></li>
					  <li class="" ><a href="#">Engager</a></li>
					</ul>
		    </div>
				<div class="form-group">
					<ul class="list-group">
				    <li ng-repeat="ligne in message.lignes" ng-click="selectionnerLigne(message, ligne)">
			        <div ng-class="{'panel panel-default message-ligne-right': true, 'selected': estSelectionnee(ligne)}">
		            <div class="panel-body">
		            	<!-- bofbof -->
               		<div ng-if="!ligne.imputationsDefinies()">
		                <div class="panel-more1 imputation imputation-empty">
		                    <i class="fa fa-2x fa-sitemap"></i>
		                    <span class="glyphicon-class"><a href="" ui-sref="scenario.creer.organ">A renseigner</a></span>
		                </div>
		                <!--
  									<div class="panel-more1 imputation imputation-empty">
	                		<i class="fa fa-2x fa-puzzle-piece"></i>
	                		<span class="glyphicon-class">A renseigner</span>
	                	</div>
	                	<div class="panel-more1 imputation imputation-empty">
	                    <i class="fa fa-2x fa-cogs"></i>
	                    <span class="glyphicon-class"><a href="" ui-sref="scenario.creer.operation">A renseigner</a></span>
	                	</div>
	                	-->
									</div>
									<!-- /bofbof -->

									<div ng-if="ligne.imputationsDefinies()">               
										<div class="panel-more1 imputation imputation-empty" ng-repeat="imputation in ligne.imputations">
		                	<i ng-class="{'fa fa-2x': true, 'fa-sitemap': ligne.organDefinie(), 'fa-puzzle-piece': ligne.imputationDefinie(), 'fa-cogs': ligne.operationDefinie()}"></i>
		                	<span class="glyphicon-class">{{imputation.valeur.libelle}}</span>
		                </div>
		              </div>
		              
									<div class="panel-more1 imputation-montant form-group col-xs-3 vcenter">
								    <div class="input-group">
										  <span class="input-group-addon">€</span>
										  <input type="text" class="form-control" placeholder="Montant" ng-model="ligne.montant">
										</div>
								  </div>
								  <!-- Side bar -->
									<div class="ligne-actions-sidebar-right sunken-menu vertical-right pull-right">
										<div class="sunken-menu-contents">
											<ul class="sunken-menu-group">
												<li>
													<a href="" ng-class="{'sunken-menu-item': true, 'selected': estSelectionnee(ligne)}" ng-click="selectionnerLigne(message, ligne)">
														<i ng-class="{'fa': true, 'fa-check-square': estSelectionnee(ligne), 'fa-square-o': !estSelectionnee(ligne)}"></i>													
													</a>
												</li>
												<li>
													<a href="" class="sunken-menu-item" ng-click="dupliquerLigne(message, ligne)">
														<i class="fa fa-copy"></i>
													</a>
												</li>
												<li ng-show="estSupprimable(message, ligne)">
													<a href="" class="sunken-menu-item" ng-click="supprimerLigne(message, ligne)">
														<i class="fa fa-trash-o"></i>
													</a>
												</li>

											</ul>
										</div>
									</div>
		            </div>
			        </div>
				    </li>
					</ul>
			  </div>

			  <div class="form-group">
			    <label for="typeEvntId">Type</label>
		      <select id="typeEvntId" 
		          class="form-control" 
		          data-ng-model="typeEvenementSelectionne"
		          data-ng-options="typeEvnt.type as typeEvnt.libelle for typeEvnt in typesEvenementDispos">
  				</select>
			  </div>
			  <div class="form-group">
			    <label for="ligneBudgetaireId">Ligne budgétaire</label>
					<select id="ligneBudgetaireId" 
		          class="form-control" 
		          data-ng-model="ligneBudgetaireSelectionnee"
		          data-ng-options="ligneBudgetaire.id as ligneBudgetaire.libelle for ligneBudgetaire in lignesBudgetairesDispos">
  				</select>				  
				</div>
			  <div class="form-group">
			    <label for="axeId">Axe concerné</label>
				<select id="axeId" 
		          class="form-control" 
		          data-ng-model="axeSelectionne"
		          data-ng-options="axe.type as axe.libelle for axe in axesDispos">
  				</select>						    
			  </div>
			  <div class="form-group">
			    <label for="opeId">Opération</label>
			    <select id="axeId" 
		          class="form-control" 
		          data-ng-model="operationSelectionnee"
		          data-ng-options="axe.type as axe.libelle for axe in axesDispos">
  				</select>
			  </div>
			  <button type="submit" class="btn btn-default">Valider</button>
			</form>
		</div>
	</div>
</div>