<div class="panel panel-info">
    <div class="panel-heading clearfix">
      <h3 class="panel-title  pull-left" style="padding-top: 8px;">Composer un objet de gestion</h3>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button>
      </div>
  	</div>
    <div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label for="typeEvntId">Type</label>
					<!-- 
					<div class="btn-group">
		        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Saisie budget</button>
		        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Ventilation</button>
		        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Engagement juridique</button>
			    </div>
			    -->
					<ul class="nav nav-pills">
					  <li class="active"><a href="#">Saisie budget</a></li>
					  <li><a href="#">Ventilation</a></li>
					  <li><a href="#">Engagement juridique</a></li>
					</ul>
		    </div>
				<div class="form-group">
			    <label>Ligne</label>
			    <!-- avec shortcuts classes
			    <div class="shortcuts">
						<div class="col-lg-1 col-md-2 col-xs-6">
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">Apps</span>
							</a>
						</div>

						<div class="col-lg-1 col-md-2 col-xs-6">
							<a href="javascript:;" class="shortcut">
								<i class="shortcut-icon icon-list-alt"></i>
								<span class="shortcut-label">Apps</span>
							</a>
						</div>

			    </div>
					-->
					<!--
			    <div class="row message-ligne">
            <div class="col-xs-3">
                <div class="thumbnail">
                	<a class="remove" title=""></a>
                  <img src="../images/125x125.jpg" alt="125x125">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                	<a class="remove" title=""></a>
                    <img src="../images/125x125.jpg" alt="125x125">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                	<a class="remove" title=""></a>
                    <img src="../images/125x125.jpg" alt="125x125">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="thumbnail">
                	<a class="remove" title=""></a>
                    <img src="../images/125x125.jpg" alt="125x125">
                </div>
            </div>
			    </div>
					-->
<ul class="list-group">
    <li>
        <div class="panel panel-default message-ligne-right">
            <div class="panel-body">
                <div class="panel-info">
                    <p><strong>Tel: 011-345-898</strong></p>
                    <p>9182 Lorem Ipsum<br />
                        consectetur adipiscing elit.<br />
                       Nullam vel lacus felis.</p>
                </div>
                <div class="panel-rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <p>Rate Yourself!</p>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>

								<div class="ligne-actions-sidebar-right sunken-menu vertical-right pull-right">
									<div class="sunken-menu-contents">
										<ul class="sunken-menu-group">
											<li>
												<a href="" class="sunken-menu-item selected">
													<i class="fa fa-square-o"></i>
												</a>
											</li>
											<li>
												<a href="" class="sunken-menu-item selected">
													<i class="fa fa-copy"></i>
												</a>
											</li>
											<li>
												<a href="" class="sunken-menu-item selected">
													<i class="fa fa-trash-o"></i>
												</a>
											</li>

										</ul>
									</div>
								</div>

            </div>
        </div>
    </li>

    <li>
        <div class="panel panel-default message-ligne-right">
            <div class="panel-body">
                <div class="panel-info">
                    <p><strong>Tel: 011-345-898</strong></p>
                    <p>9182 Lorem Ipsum<br />
                        consectetur adipiscing elit.<br />
                       Nullam vel lacus felis.</p>
                </div>
                <div class="panel-rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <p>Rate Yourself!</p>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>

								<div class="ligne-actions-sidebar-right sunken-menu vertical-right pull-right">
									<div class="sunken-menu-contents">
										<ul class="sunken-menu-group">
											<li>
												dz
											</li>
											

										</ul>
									</div>
								</div>

            </div>
        </div>
    </li>

    <li>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                    <p><strong>Tel: 011-345-898</strong></p>
                    <p>9182 Lorem Ipsum<br />
                        consectetur adipiscing elit.<br />
                       Nullam vel lacus felis.</p>
                </div>
                <div class="panel-rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <p>Rate Yourself!</p>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                    <p><strong>Tel: 011-345-898</strong></p>
                    <p>9182 Lorem Ipsum<br />
                        consectetur adipiscing elit.<br />
                       Nullam vel lacus felis.</p>
                </div>
                <div class="panel-rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <p>Rate Yourself!</p>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
                <div class="panel-more1">
                    <img src="http://lorempixel.com/100/100" />
                    <br /><span>Caption</span>
                </div>
            </div>
        </div>
    </li>
</ul>

					<div class="clearfix row message-ligne">
						<div class="col-md-12">
							<div class="ligne-actions-sidebar sunken-menu vertical-right pull-left">
								<div class="sunken-menu-contents">
									<ul class="sunken-menu-group fa-ul">
										<li>
											<a href="" class="sunken-menu-item selected">
												<i class="fa fa-square-o"></i>
											</a>
										</li>
										<li>
											<a href="" class="sunken-menu-item selected">
												<i class="fa fa-copy"></i>
											</a>
										</li>
										<li>
											<a href="" class="sunken-menu-item selected">
												<i class="fa fa-trash-o"></i>
											</a>
										</li>

									</ul>
								</div>
							</div>
					    <ul class="lignes-message">
					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>
					    </ul>
					  </div>
					</div>

					<div class="clearfix row">
						<div class="col-md-11">
					    <ul class="lignes-message">
					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>

					    	<li class="ligne-details">
				          <span class="glyphicon glyphicon-asterisk"></span>
				          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
				        </li>
					    </ul>
					  </div>
					  
			    </div>


					<div class="clearfix row">
						<div class="col-md-2">					    
							<div class="ligne-details">
		          	<span class="glyphicon glyphicon-asterisk"></span>
		          	<span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
		          </div>
		        </div>
		        <div class="col-md-2">					    
							<div class="ligne-details">
		          	<span class="glyphicon glyphicon-asterisk"></span>
		          	<span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
		          </div>
		        </div>
		        <div class="col-md-2">					    
							<div class="ligne-details">
		          	<span class="glyphicon glyphicon-asterisk"></span>
		          	<span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
		          </div>
		        </div>
		        <div class="col-md-2">					    
							<div class="ligne-details">
		          	<span class="glyphicon glyphicon-asterisk"></span>
		          	<span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
		          </div>
		        </div>

		        <div class="col-md-2">
							<div class="btn-group">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button>
      </div>
		        </div>

			    </div>

			  </div>

			  <div class="form-group">
			    <label for="typeEvntId">Type</label>
		      <select id="typeEvntId" 
		          class="form-control" 
		          data-ng-model="typeEvenementSelectionne"
		          data-ng-options="typeEvnt.type as typeEvnt.libelle for typeEvnt in typesEvenementDispos">
  				</select>
			  </div>
			  <div class="form-group">
			    <label for="ligneBudgetaireId">Ligne budgétaire</label>
					<select id="ligneBudgetaireId" 
		          class="form-control" 
		          data-ng-model="ligneBudgetaireSelectionnee"
		          data-ng-options="ligneBudgetaire.id as ligneBudgetaire.libelle for ligneBudgetaire in lignesBudgetairesDispos">
  				</select>				  
				</div>
			  <div class="form-group">
			    <label for="axeId">Axe concerné</label>
				<select id="axeId" 
		          class="form-control" 
		          data-ng-model="axeSelectionne"
		          data-ng-options="axe.type as axe.libelle for axe in axesDispos">
  				</select>						    
			  </div>
			  <div class="form-group">
			    <label for="opeId">Opération</label>
			    <select id="axeId" 
		          class="form-control" 
		          data-ng-model="operationSelectionnee"
		          data-ng-options="axe.type as axe.libelle for axe in axesDispos">
  				</select>
			  </div>
			  <button type="submit" class="btn btn-default">Valider</button>
			</form>
		</div>
	</div>
</div>