/* Space out content a bit */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (min-width: 768px)
.main {
  padding-right: 40px;
  padding-left: 40px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
[ Shortcuts / .shortcuts ]
*/
.shortcuts {
  text-align: center;
}
.shortcuts .shortcut {
  width: 110px;
  display: inline-block;
  padding: 15px 0;
  margin: 0 5px 1em;
  vertical-align: top;
  text-decoration: none;
  background: #F3F3F3;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #eeeeee, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px;
}
.shortcuts .shortcut .shortcut-icon {
  width: 100%;
  margin-top: .25em;
  margin-bottom: .35em;
  font-size: 32px;
  color: #555;
}
.shortcuts .shortcut:hover {
  background: #E8E8E8;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #fafafa, 0%, #e1e1e1, 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #e1e1e1 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #e1e1e1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe1e1e1', GradientType=0);
}
.shortcuts .shortcut:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.shortcuts .shortcut:hover .shortcut-icon {
  color: #666;
}
.shortcuts .shortcut-label {
  display: block;
  margin-top: .75em;
  font-weight: 400;
  color: #666;
}

/** glyphicons exemples bootsrap */
.lignes-message {
  padding-left: 0;
  list-style: none;
}

.ligne-details {
  float: left;
  width: 12.5%;
  font-size: 12px;
  
  /*width: 25%;*/
  /*font-size: 10px;*/

  height: 115px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #fff;
  background-color: #f9f9f9;
}

.glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

.message-ligne {
  margin-left: 50px;
}

.message-ligne-right {
  position: relative;
  margin-right: 90px;
}

.ligne-actions-sidebar {
 margin-left: -45px; 
}

.ligne-actions-sidebar-right {
 position: absolute;
 top: 0px;
 right: -60px;
}

/* From github */
.sunken-menu.vertical-right {
    max-width: 250px;
}

.sunken-menu.vertical-right .sunken-menu-contents {
    padding: 5px 0 15px;
    box-shadow: inset 1px 0 0 #eee;
    background-image: -webkit-linear-gradient(left, #f6f6f6 0%, #fff 8px);
    background-image: -moz-linear-gradient(left, #f6f6f6 0%, #fff 8px);
    background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px)
}

.sunken-menu.vertical-right .sunken-menu-contents:before,.sunken-menu.vertical-right .sunken-menu-contents:after {
    height: 15px;
    width: 100%;
    left: 0;
    background-color: transparent
}

.sunken-menu.vertical-right .sunken-menu-contents:before {
    background-color: rgba(255,255,255,0);
    background-image: -moz-linear-gradient(#fff, rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(#fff, rgba(255,255,255,0));
    background-image: linear-gradient(#fff, rgba(255,255,255,0));
    background-repeat: repeat-x;
    background-color: transparent;
    top: 0
}

.sunken-menu .sunken-menu-group {
    list-style-type: none;
}

.sunken-menu .sunken-menu-item {
    padding: 8px 10px;
    display: block;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    /*border: 1px solid transparent;*/
    outline: 0;
    border: 1px solid #eee;
    color: #333333;
}

.sunken-menu .sunken-menu-item.selected {
    background: #fff;
    color: #5ebd5e;
    border: 1px solid #eee;
    border-left: 3px solid #5ebd5e;
    font-weight: bold
}

.selected {
  border-color: #5ebd5e;
}


.sunken-menu .sunken-menu-item.selected::after {
    background-color: #ba5d0f;
    background-image: -moz-linear-gradient(#d26911, #ba5d0f);
    background-image: -webkit-linear-gradient(#d26911, #ba5d0f);
    background-image: linear-gradient(#d26911, #ba5d0f);
    background-repeat: repeat-x;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1)
}

/* From http://jsfiddle.net/kuntau/X5Wvn/ */
/* ajouter mes propres classes pour eviter de polluer panel-info ? */
.list-group li {
    list-style: none;
}
.panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
    border-radius: 3px;
    text-align: center;
}

.sunken-menu-group {
  padding-left: 15px;
}

.imputation {
    width: 150px;
    height: 90px;
    margin: 5px 10px;
    padding: 10px 5px 5px 5px;
}

.imputation-empty {
    background-color: #f9f9f9;
    border: 1px dashed;
}

.imputation-definie {
    background-color: #fcf8e3;
    border: 1px solid;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


